absl-py==1.4.0
amqp==5.2.0
argcomplete==3.2.3
asgiref==3.8.1
astunparse==1.6.3
billiard==4.2.0
blinker==1.8.2
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cryptography==42.0.5
distlib==0.3.8
Django==5.0.6
dm-tree==0.1.8
etils==1.8.0
filelock==3.14.0
Flask==3.0.3
flatbuffers==24.3.25
flower==2.0.1
flwr==1.8.0
fsspec==2024.3.1
gast==0.5.4
google-pasta==0.2.0
googleapis-common-protos==1.63.0
grpcio==1.62.1
h5py==3.11.0
html5lib==1.1
humanize==4.9.0
idna==3.7
importlib_resources==6.4.0
iterators==0.0.2
itsdangerous==2.2.0
Jinja2==3.1.4
keras==3.2.1
kombu==5.3.7
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mechanize==0.4.10
ml-dtypes==0.3.2
namex==0.0.8
numpy==1.26.4
opt-einsum==3.3.0
optree==0.11.0
packaging==24.0
pillow==10.3.0
pipenv==2024.0.1
pipx==1.4.3
platformdirs==4.2.0
prometheus_client==0.20.0
promise==2.3
prompt-toolkit==3.0.43
protobuf==5.26.1
psutil==5.9.8
pycparser==2.22
pycryptodome==3.20.0
Pygments==2.17.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
rich==13.7.1
setuptools==69.5.1
shellingham==1.5.4
six==1.16.0
sqlparse==0.5.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-datasets==4.9.4
tensorflow-metadata==1.14.0
termcolor==2.4.0
toml==0.10.2
tomli==2.0.1
tornado==6.4
tqdm==4.66.2
typer==0.9.4
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
userpath==1.9.2
vine==5.1.0
virtualenv==20.26.2
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.2
wheel==0.43.0
wrapt==1.16.0
zipp==3.18.1
